<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Riaz Laskar</title>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/jquery.fancybox.css">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/responsive.css">
<link rel="stylesheet" href="css/animate.min.css">
<link rel="stylesheet" type="text/css" href="css/normalize.css" />
<link rel="stylesheet" type="text/css" href="css/component.css" />
<link rel="stylesheet" type="text/css" href="css/vis-network.min.css" />
    

    
    <style>
    
        .vz-wrapper {
            /*position: relative;*/
            height: 200px;
            width: 200px;
            cursor: pointer;
        }

        .vz-wrapper.-canvas {
            position: absolute;
            top: 70%;
            left: 25%;
            transform: translate(-50%, -50%);
            height: initial;
            width: initial;
            background: transparent;
            box-shadow: none;
        }
    
        
    </style>
    
</head>

<body>
<!-- header section -->
<section id="innerbanner" class="innerbanner" role="banner">
    <div id="header-background">
        <canvas id="header-canvas"></canvas>
    </div>
  <header id="header"> 
    <!-- navigation section  -->
    <div class="header-content clearfix"> 
                
      <nav class="navigation" role="navigation">
        <ul class="primary-nav">
          <li><a href="/">Homeeeeee</a></li>
          <li><a href="about">About Me</a></li>
          <li><a href="contact">Contact</a></li>
		  <li><a href="help-me">Help Me</a></li>
          
        </ul>
      </nav>
      <a href="#" class="nav-toggle">Menu<span></span></a> </div>
    <!-- navigation section  --> 
        <div class="vz-wrapper">
<audio id="myAudio" src="" data-author="Software Engineer" data-title="Riaz Laskar" data-image="/images/me.jpg"></audio>
<div class="vz-wrapper -canvas">
<canvas id="myCanvas" width="250" height="250"></canvas>
</div>
</div>

  </header>