<section id="hireme" class="section hireme">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 text-center">
      <h3>Need something specific for business solution?</h3>
      <p>Grow with the blooming web.</p>
      <a href="contact" class="btn btn-large">Hire me</a> </div>
  </div>
</section>