<% include partials/headerinner %>
  
  <!-- banner text -->
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <div class="innerbanner-text text-center">
        <p>About me</p>
        <!-- banner text --> 
      </div>
    </div>
  </div>
</section>
<!-- header section --> 
<!-- description text section -->
<section id="inner-description" class="section inner-description">
  <div class="container">
    <div class="col-md-10 col-md-offset-1 text-center"> <img src="https://s-media-cache-ak0.pinimg.com/avatars/riazlaskar_1445712070_280.jpg" alt="Riaz Laskar">
      <h1>Riaz Laskar</h1>
      <p>Web Developer</p>
    </div>
    <div class="col-md-10 col-md-offset-1 space">
      
	  </div>
  </div>
</section>
<!-- description text section --> 
<% include partials/hireme %>
<% include partials/footer %>