<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->
<link rel="stylesheet" href="css/prism.css">
<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bootstrap to Tailwind CSS converter</title>
<style id="glamor-styles">
    .gatsby-highlight{background:#282c34;color:#ffffff;overflow:auto;tab-size:1.5em;-moz-tab-size:1.5em;}
    .gatsby-highlight pre{outline: none;}
    .gatsby-highlight code[class*="gatsby-code-"],
    .gatsby-highlight pre[class*="gatsby-code-"],
    .gatsby-highlight pre.prism-code{height:auto !important;margin:1rem;font-size:14px;line-height:20px;white-space:pre-wrap;word-break:break-word;}.gatsby-highlight + .gatsby-highlight{margin-top:20px;}.gatsby-highlight-code-line{background-color:#14161a;display:block;margin:-0.125rem calc(-1rem - 15px);padding:0.125rem calc(1rem + 15px);}.token.attr-name{color:#c5a5c5;}
    .token.comment,
    .token.block-comment,
    .token.prolog,
    .token.doctype,
    .token.cdata{color:#999999;}
    .token.property,
    .token.number,
    .token.function-name,
    .token.constant,
    .token.symbol,
    .token.deleted{color:#5a9bcf;}.token.boolean{color:#ff8b50;}.token.tag{color:#fc929e;}.token.string{color:#8dc891;}.token.punctuation{color:#5FB3B3;}
    .token.selector,
    .token.char,
    .token.builtin,
    .token.inserted{color:#D8DEE9;}.token.function{color:#79b6f2;}
    .token.operator,
    .token.entity,
    .token.url,
    .token.variable{color:#d7deea;}.token.attr-value{color:#8dc891;}.token.keyword{color:#c5a5c5;}
    .token.atrule,
    .token.class-name{color:#FAC863;}.token.important{font-weight:400;}.token.bold{font-weight:700;}.token.italic{font-style:italic;}.token.entity{cursor:help;}.namespace{opacity:0.7;}html {
      font-family: sans-serif; /* 1 */
      line-height: 1.15; /* 2 */
      -ms-text-size-adjust: 100%; /* 3 */
      -webkit-text-size-adjust: 100%; /* 3 */
    }body {
      margin: 0;
    }article,
    aside,
    footer,
    header,
    nav,
    section {
      display: block;
    }h1 {
      font-size: 2em;
      margin: 0.67em 0;
    }figcaption,
    figure,
    main { /* 1 */
      display: block;
    }figure {
      margin: 1em 40px;
    }hr {
      box-sizing: content-box; /* 1 */
      height: 0; /* 1 */
      overflow: visible; /* 2 */
    }pre {
      font-family: monospace, monospace; /* 1 */
      font-size: 1em; /* 2 */
    }a {
      background-color: transparent; /* 1 */
      -webkit-text-decoration-skip: objects; /* 2 */
    }a:active,
    a:hover {
      outline-width: 0;
    }abbr[title] {
      border-bottom: none; /* 1 */
      text-decoration: underline; /* 2 */
      text-decoration: underline dotted; /* 2 */
    }b,
    strong {
      font-weight: inherit;
    }b,
    strong {
      font-weight: bolder;
    }code,
    kbd,
    samp {
      font-family: monospace, monospace; /* 1 */
      font-size: 1em; /* 2 */
    }dfn {
      font-style: italic;
    }mark {
      background-color: #ff0;
      color: #000;
    }small {
      font-size: 80%;
    }sub,
    sup {
      font-size: 75%;
      line-height: 0;
      position: relative;
      vertical-align: baseline;
    }sub {
      bottom: -0.25em;
    }sup {
      top: -0.5em;
    }audio,
    video {
      display: inline-block;
    }audio:not([controls]) {
      display: none;
      height: 0;
    }img {
      border-style: none;
    }svg:not(:root) {
      overflow: hidden;
    }button,
    input,
    optgroup,
    select,
    textarea {
      font-family: sans-serif; /* 1 */
      font-size: 100%; /* 1 */
      line-height: 1.15; /* 1 */
      margin: 0; /* 2 */
    }button,
    input { /* 1 */
      overflow: visible;
    }button,
    select { /* 1 */
      text-transform: none;
    }button,
    html [type="button"], /* 1 */
    [type="reset"],
    [type="submit"] {
      -webkit-appearance: button; /* 2 */
    }button::-moz-focus-inner,
    [type="button"]::-moz-focus-inner,
    [type="reset"]::-moz-focus-inner,
    [type="submit"]::-moz-focus-inner {
      border-style: none;
      padding: 0;
    }button:-moz-focusring,
    [type="button"]:-moz-focusring,
    [type="reset"]:-moz-focusring,
    [type="submit"]:-moz-focusring {
      outline: 1px dotted ButtonText;
    }fieldset {
      border: 1px solid #c0c0c0;
      margin: 0 2px;
      padding: 0.35em 0.625em 0.75em;
    }legend {
      box-sizing: border-box; /* 1 */
      color: inherit; /* 2 */
      display: table; /* 1 */
      max-width: 100%; /* 1 */
      padding: 0; /* 3 */
      white-space: normal; /* 1 */
    }progress {
      display: inline-block; /* 1 */
      vertical-align: baseline; /* 2 */
    }textarea {
      overflow: auto;
    }[type="checkbox"],
    [type="radio"] {
      box-sizing: border-box; /* 1 */
      padding: 0; /* 2 */
    }[type="number"]::-webkit-inner-spin-button,
    [type="number"]::-webkit-outer-spin-button {
      height: auto;
    }[type="search"] {
      -webkit-appearance: textfield; /* 1 */
      outline-offset: -2px; /* 2 */
    }[type="search"]::-webkit-search-cancel-button,
    [type="search"]::-webkit-search-decoration {
      -webkit-appearance: none;
    }::-webkit-file-upload-button {
      -webkit-appearance: button; /* 1 */
      font: inherit; /* 2 */
    }details, /* 1 */
    menu {
      display: block;
    }summary {
      display: list-item;
    }canvas {
      display: inline-block;
    }template {
      display: none;
    }[hidden] {
      display: none;
    }
    .css-1tv5sxm,[data-css-1tv5sxm]{flex:1 0 auto;margin-top:60px;-webkit-flex:1 0 auto;}@media (min-width: 780px) and (max-width: 1279px){.css-1tv5sxm,[data-css-1tv5sxm]{margin-top:50px;}}@media (max-width: 779px){.css-1tv5sxm,[data-css-1tv5sxm]{margin-top:40px;}}.css-190hivd,[data-css-190hivd]{display:-webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;flex-direction:column;min-height:calc(100vh - 40px);-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;}.css-184keb2,[data-css-184keb2]{color:inherit;margin-left:10px;font-weight:700;font-size:20px;line-height:20px;}@media (max-width: 979px){.css-184keb2,[data-css-184keb2]{font-size:16px;margin-top:1px;}}@media (max-width: 599px){.css-184keb2,[data-css-184keb2]{position:absolute;overflow:hidden;clip:rect(0 0 0 0);height:1px;width:1px;margin:-1px;padding:0;border:0;}}.css-4ivotw,[data-css-4ivotw]{display:-webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;margin-right:10px;height:100%;align-items:center;color:#61dafb;-webkit-box-align:center;-webkit-align-items:center;}.css-4ivotw:focus,[data-css-4ivotw]:focus{outline:0;color:#ffffff;}@media (min-width: 600px){.css-4ivotw,[data-css-4ivotw]{width:calc(100% / 6);}}@media (max-width: 599px){.css-4ivotw,[data-css-4ivotw]{flex:0 0 auto;-webkit-flex:0 0 auto;}}.css-17o7gw8,[data-css-17o7gw8]{display:-webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;flex-direction:row;align-items:stretch;overflow-x:auto;overflow-y:hidden;-webkit-overflow-scrolling:touch;height:100%;width:60%;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-webkit-box-align:stretch;-webkit-align-items:stretch;}@media (min-width: 0px) and (max-width: 599px){.css-17o7gw8,[data-css-17o7gw8]{flex-grow:1;width:auto;-webkit-flex-grow:1;}}@media (max-width: 599px){.css-17o7gw8,[data-css-17o7gw8]{mask-image:-webkit-linear-gradient(to right, transparent, black 20px, black 90%, transparent); mask-image: -moz-linear-gradient(to right, transparent, black 20px, black 90%, transparent); mask-image: linear-gradient(to right, transparent, black 20px, black 90%, transparent);-webkit-mask-image:-webkit-linear-gradient(to right, transparent, black 20px, black 90%, transparent); -webkit-mask-image: -moz-linear-gradient(to right, transparent, black 20px, black 90%, transparent); -webkit-mask-image: linear-gradient(to right, transparent, black 20px, black 90%, transparent);}}.css-1v42y44,[data-css-1v42y44]{padding:5px 10px;white-space:nowrap;font-size:14px;}.css-1v42y44:hover,[data-css-1v42y44]:hover{color:#61dafb;}.css-1v42y44:focus,[data-css-1v42y44]:focus{outline:0;background-color:#373940;border-radius:15px;}.css-14nlkyt,[data-css-14nlkyt]{padding:5px 10px;margin-left:10px;white-space:nowrap;font-size:14px;}.css-14nlkyt:hover,[data-css-14nlkyt]:hover{color:#61dafb;}.css-14nlkyt:focus,[data-css-14nlkyt]:focus{outline:0;background-color:#373940;border-radius:15px;}@media (max-width: 779px){.css-dkzafi,[data-css-dkzafi]{display:none;}}@media (min-width: 980px){.css-dkzafi,[data-css-dkzafi]{width:calc(100% / 6);}}.css-iiezwn,[data-css-iiezwn]{display:-webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;flex-direction:row;align-items:center;height:60px;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-webkit-box-align:center;-webkit-align-items:center;}@media (min-width: 600px) and (max-width: 1279px){.css-iiezwn,[data-css-iiezwn]{height:50px;}}@media (max-width: 599px){.css-iiezwn,[data-css-iiezwn]{height:40px;}}.css-mlkfzr,[data-css-mlkfzr]{background-color:#20232a;color:#ffffff;position:fixed;z-index:1;width:100%;top:0;left:0;}.css-tctv7l,[data-css-tctv7l]{padding-left:20px;padding-right:20px;margin-left:auto;margin-right:auto;}@media (min-width: 780px){.css-tctv7l,[data-css-tctv7l]{width:90%;}}@media (min-width: 1340px){.css-tctv7l,[data-css-tctv7l]{max-width:1260px;}}.css-hobwqm,[data-css-hobwqm]{display:-webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;flex-direction:row;align-items:center;color:#ffffff;transition:color 0.2s ease-out;padding-left:15px;padding-right:15px;font-weight:300;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-webkit-box-align:center;-webkit-align-items:center;-webkit-transition:color 0.2s ease-out;-moz-transition:color 0.2s ease-out;}.css-hobwqm:focus,[data-css-hobwqm]:focus{outline:0;background-color:#373940;color:#ffffff;}@media (min-width: 0px) and (max-width: 599px){.css-hobwqm,[data-css-hobwqm]{padding-left:8px;padding-right:8px;}}@media (min-width: 600px) and (max-width: 979px){.css-hobwqm,[data-css-hobwqm]{padding-left:10px;padding-right:10px;}}@media (min-width: 1280px){.css-hobwqm,[data-css-hobwqm]{padding-left:20px;padding-right:20px;font-size:18px;}.css-hobwqm:hover:not(:focus),[data-css-hobwqm]:hover:not(:focus){color:#61dafb;}}.css-1wo8d34,[data-css-1wo8d34]{appearance:none;background:transparent;border:0;color:#ffffff;font-size:18px;font-weight:300;font-family:inherit;position:relative;padding:5px 5px 5px 29px;background-image:url(/search.svg);background-size:16px 16px;background-repeat:no-repeat;background-position-y:center;background-position-x:5px;-webkit-appearance:none;-moz-appearance:none;}.css-1wo8d34:focus,[data-css-1wo8d34]:focus{outline:0;background-color:#373940;border-radius:0.25rem;}@media (max-width: 979px){.css-1wo8d34,[data-css-1wo8d34]{font-size:16px;}}@media (min-width: 600px){.css-1wo8d34,[data-css-1wo8d34]{width:100%;}}@media (max-width: 599px){.css-1wo8d34,[data-css-1wo8d34]{width:16px;transition:width 0.2s ease, padding 0.2s ease;padding-left:16px;-webkit-transition:width 0.2s ease, padding 0.2s ease;-moz-transition:width 0.2s ease, padding 0.2s ease;}.css-1wo8d34:focus,[data-css-1wo8d34]:focus{padding-left:29px;width:8rem;outline:none;}}.css-3n5uzf,[data-css-3n5uzf]{display:-webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;flex:0 0 auto;flex-direction:row;align-items:center;padding-left:0.5rem;padding-right:0.5rem;-webkit-flex:0 0 auto;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-webkit-box-align:center;-webkit-align-items:center;}@media (max-width: 599px){.css-3n5uzf,[data-css-3n5uzf]{justify-content:flex-end;-webkit-box-pack:end;-webkit-justify-content:flex-end;}}@media (max-width: 979px){.css-3n5uzf,[data-css-3n5uzf]{margin-right:10px;}}@media (min-width: 600px) and (max-width: 979px){.css-3n5uzf,[data-css-3n5uzf]{width:calc(100% / 3);}}@media (min-width: 780px) and (max-width: 1339px){.css-3n5uzf,[data-css-3n5uzf]{width:calc(100% / 6);}}@media (min-width: 600px){.css-3n5uzf,[data-css-3n5uzf]{min-width:120px;}}.css-19vhmgv,[data-css-19vhmgv]{margin-left:5px;vertical-align:-2px;color:#6d6d6d;}.css-15lkjjo,[data-css-15lkjjo]{display:-webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;flex-direction:column;flex-grow:1;flex-shrink:0;flex-basis:auto;justify-content:stretch;align-items:flex-start;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-webkit-flex-grow:1;-webkit-flex-shrink:0;-webkit-flex-basis:auto;-webkit-box-pack:stretch;-webkit-justify-content:stretch;-webkit-box-align:start;-webkit-align-items:flex-start;}.css-1q9mcvr,[data-css-1q9mcvr]{flex-wrap:wrap;display:-webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;-webkit-box-lines:multiple;-webkit-flex-wrap:wrap;}@media (max-width: 979px){.css-1q9mcvr,[data-css-1q9mcvr]{width:100%;}}@media (min-width: 1280px){.css-1q9mcvr,[data-css-1q9mcvr]{width:calc(100% / 3 * 2);padding-left:40px;}}.css-1izr7si,[data-css-1izr7si]{max-width:160px;height:auto;}.css-1yy5aal,[data-css-1yy5aal]{color:#999;padding-top:15px;}.css-1tq073i,[data-css-1tq073i]{padding-top:40px;display:block !important;}@media (min-width: 1280px){.css-1tq073i,[data-css-1tq073i]{width:calc(100% / 3);order:-1;-webkit-order:-1;}}@media (min-width: 980px){.css-1tq073i,[data-css-1tq073i]{order:-1;width:calc(100% / 3);-webkit-order:-1;}}@media (max-width: 979px){.css-1tq073i,[data-css-1tq073i]{text-align:center;width:100%;padding-top:40px;}}.css-17njq4x,[data-css-17njq4x]{display:-webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;flex-direction:row;flex-wrap:wrap;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-webkit-box-lines:multiple;-webkit-flex-wrap:wrap;}.css-smm72f,[data-css-smm72f]{background-color:#20232a;color:#ffffff;padding-top:10px;padding-bottom:50px;}@media (min-width: 2000px){.css-smm72f,[data-css-smm72f]{padding-top:40px;}}.css-1m3wp4q,[data-css-1m3wp4q]{display:-webkit-inline-box; display: -moz-inline-box; display: -ms-inline-flexbox; display: -webkit-inline-flex; display: inline-flex;flex-direction:column;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;}.css-12bsqfj,[data-css-12bsqfj]{display:-webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;flex-direction:column;align-items:flex-start;width:50%;padding-top:40px;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-webkit-box-align:start;-webkit-align-items:flex-start;}@media (min-width: 2000px){.css-12bsqfj,[data-css-12bsqfj]{padding-top:0;width:25%;}}.css-109jn6d,[data-css-109jn6d]{color:#999;font-size:14px;font-weight:700;line-height:3;text-transform:uppercase;letter-spacing:0.08em;}.css-8l81zy,[data-css-8l81zy]{line-height:2;}.css-8l81zy:hover,[data-css-8l81zy]:hover{color:#61dafb;}.css-83uoqv,[data-css-83uoqv]{vertical-align:-2px;display:inline-block;margin-left:5px;color:#6d6d6d;}.css-1b9qwuc,[data-css-1b9qwuc]{line-height:25px;}.css-1b9qwuc .gatsby-highlight,[data-css-1b9qwuc] .gatsby-highlight{margin-top:25px;margin-left:-30px;margin-right:-30px;margin-bottom:25px;padding-left:15px;padding-right:15px;}.css-1b9qwuc a:not(.anchor):not(.gatsby-resp-image-link),[data-css-1b9qwuc] a:not(.anchor):not(.gatsby-resp-image-link){background-color:rgba(187,239,253,0.3);border-bottom:1px solid rgba(0,0,0,0.2);color:#1a1a1a;}.css-1b9qwuc a:not(.anchor):not(.gatsby-resp-image-link):hover,[data-css-1b9qwuc] a:not(.anchor):not(.gatsby-resp-image-link):hover{background-color:#bbeffd;border-bottom-color:#1a1a1a;}.css-1b9qwuc > p:first-child,[data-css-1b9qwuc] > p:first-child{font-size:18px;font-weight:300;color:#6d6d6d;}.css-1b9qwuc > p:first-child a,[data-css-1b9qwuc] > p:first-child a, .css-1b9qwuc > p:first-child strong, [data-css-1b9qwuc] > p:first-child strong{font-weight:400;}.css-1b9qwuc p,[data-css-1b9qwuc] p{margin-top:30px;font-size:17px;line-height:1.7;max-width:42em;}.css-1b9qwuc p:first-of-type,[data-css-1b9qwuc] p:first-of-type{margin-top:15px;}.css-1b9qwuc p:first-child,[data-css-1b9qwuc] p:first-child{margin-top:0;}.css-1b9qwuc h3 + p,[data-css-1b9qwuc] h3 + p, .css-1b9qwuc h3 + p:first-of-type, [data-css-1b9qwuc] h3 + p:first-of-type{margin-top:20px;}.css-1b9qwuc p > code,[data-css-1b9qwuc] p > code, .css-1b9qwuc li > code, [data-css-1b9qwuc] li > code{background:rgba(255,229,100,0.2);color:#1a1a1a;}.css-1b9qwuc p > code,[data-css-1b9qwuc] p > code, .css-1b9qwuc li > code, [data-css-1b9qwuc] li > code, .css-1b9qwuc p > a > code, [data-css-1b9qwuc] p > a > code, .css-1b9qwuc li > a > code, [data-css-1b9qwuc] li > a > code{padding:0 3px;font-size:16px;word-break:break-word;}.css-1b9qwuc hr,[data-css-1b9qwuc] hr{height:1px;margin-bottom:-1px;border:none;border-bottom:1px solid #ececec;margin-top:40px;}.css-1b9qwuc hr:first-child,[data-css-1b9qwuc] hr:first-child{margin-top:0;}.css-1b9qwuc h1,[data-css-1b9qwuc] h1{line-height:1.2;}.css-1b9qwuc h2,[data-css-1b9qwuc] h2{border-top:1px solid #ececec;margin-top:44px;padding-top:40px;line-height:1.2;}.css-1b9qwuc h2:first-child,[data-css-1b9qwuc] h2:first-child{border-top:0;margin-top:0;padding-top:0;}.css-1b9qwuc hr + h2,[data-css-1b9qwuc] hr + h2{border-top:0;margin-top:0;}.css-1b9qwuc h3,[data-css-1b9qwuc] h3{padding-top:45px;}.css-1b9qwuc h2 + h3,[data-css-1b9qwuc] h2 + h3, .css-1b9qwuc h2 + h3:first-of-type, [data-css-1b9qwuc] h2 + h3:first-of-type{padding-top:30px;}.css-1b9qwuc h4,[data-css-1b9qwuc] h4{font-size:20px;color:#6d6d6d;line-height:1.3;margin-top:50px;font-weight:400;}.css-1b9qwuc h4 + p,[data-css-1b9qwuc] h4 + p{margin-top:20px;}.css-1b9qwuc ol,[data-css-1b9qwuc] ol, .css-1b9qwuc ul, [data-css-1b9qwuc] ul{margin-top:20px;font-size:16px;color:#1a1a1a;padding-left:20px;}.css-1b9qwuc ol p,[data-css-1b9qwuc] ol p, .css-1b9qwuc ul p, [data-css-1b9qwuc] ul p, .css-1b9qwuc ol p:first-of-type, [data-css-1b9qwuc] ol p:first-of-type,  .css-1b9qwuc ul p:first-of-type,  [data-css-1b9qwuc] ul p:first-of-type{font-size:16px;margin-top:0;line-height:1.2;}.css-1b9qwuc ol li,[data-css-1b9qwuc] ol li, .css-1b9qwuc ul li, [data-css-1b9qwuc] ul li{margin-top:10px;}.css-1b9qwuc ol li.button-newapp,[data-css-1b9qwuc] ol li.button-newapp, .css-1b9qwuc ul li.button-newapp, [data-css-1b9qwuc] ul li.button-newapp{margin-top:0;}.css-1b9qwuc ol ol,[data-css-1b9qwuc] ol ol, .css-1b9qwuc ul ol, [data-css-1b9qwuc] ul ol, .css-1b9qwuc ol ul, [data-css-1b9qwuc] ol ul,  .css-1b9qwuc ul ul,  [data-css-1b9qwuc] ul ul{margin-left:20px;margin-top:10px;}.css-1b9qwuc img,[data-css-1b9qwuc] img{max-width:100%;}.css-1b9qwuc ol,[data-css-1b9qwuc] ol{list-style:decimal;}.css-1b9qwuc ul,[data-css-1b9qwuc] ul{list-style:disc;}.css-1b9qwuc blockquote,[data-css-1b9qwuc] blockquote{background-color:rgba(255,229,100,0.3);border-left-color:#ffe564;border-left-width:9px;border-left-style:solid;padding:20px 45px 20px 26px;margin-bottom:30px;margin-top:20px;margin-left:-30px;margin-right:-30px;}.css-1b9qwuc blockquote p,[data-css-1b9qwuc] blockquote p{margin-top:15px;}.css-1b9qwuc blockquote p:first-of-type,[data-css-1b9qwuc] blockquote p:first-of-type{font-weight:700;margin-top:0;}.css-1b9qwuc blockquote p:nth-of-type(2),[data-css-1b9qwuc] blockquote p:nth-of-type(2){margin-top:0;}.css-1b9qwuc .gatsby-highlight + blockquote,[data-css-1b9qwuc] .gatsby-highlight + blockquote{margin-top:40px;}@media (max-width: 599px){.css-1b9qwuc .gatsby-highlight,[data-css-1b9qwuc] .gatsby-highlight{margin-left:-20px;margin-right:-20px;border-radius:0;}.css-1b9qwuc blockquote,[data-css-1b9qwuc] blockquote{margin-left:-20px;margin-right:-20px;}}@media (min-width: 1280px){.css-1b9qwuc > p:first-child,[data-css-1b9qwuc] > p:first-child{font-size:24px;}.css-1b9qwuc h1,[data-css-1b9qwuc] h1{font-size:60px;}.css-1b9qwuc h2,[data-css-1b9qwuc] h2{font-size:35px;}.css-1b9qwuc h3,[data-css-1b9qwuc] h3{font-size:25px;line-height:1.3;}}@media (max-width: 979px){.css-1b9qwuc p,[data-css-1b9qwuc] p{font-size:16px;margin-top:25px;}.css-1b9qwuc h2,[data-css-1b9qwuc] h2{font-size:20px;}}@media (min-width: 0px) and (max-width: 599px){.css-1b9qwuc h1,[data-css-1b9qwuc] h1{font-size:30px;}}@media (min-width: 600px) and (max-width: 1279px){.css-1b9qwuc h1,[data-css-1b9qwuc] h1{font-size:45px;}}.css-159p4b7,[data-css-159p4b7]{color:#61dafb;text-align:center;margin:0;font-size:45px;letter-spacing:0.01em;}@media (min-width: 0px) and (max-width: 599px){.css-159p4b7,[data-css-159p4b7]{font-size:30px;}}@media (min-width: 1280px){.css-159p4b7,[data-css-159p4b7]{font-size:60px;}}.css-1s44ra,[data-css-1s44ra]{padding-top:15px;text-align:center;font-size:24px;letter-spacing:0.01em;font-weight:200;}@media (min-width: 0px) and (max-width: 599px){.css-1s44ra,[data-css-1s44ra]{font-size:16px;max-width:12em;margin-left:auto;margin-right:auto;}}@media (min-width: 1280px){.css-1s44ra,[data-css-1s44ra]{padding-top:20px;font-size:30px;}}.css-19bbi3m,[data-css-19bbi3m]{padding-top:40px;}@media (min-width: 1280px){.css-19bbi3m,[data-css-19bbi3m]{padding-top:65px;}}.css-13azwyo,[data-css-13azwyo]{position:relative;}.css-19cq443,[data-css-19cq443]{padding-top:45px;padding-bottom:20px;}@media (min-width: 600px){.css-19cq443,[data-css-19cq443]{padding-top:60px;padding-bottom:70px;}}@media (min-width: 1280px){.css-19cq443,[data-css-19cq443]{padding-top:95px;padding-bottom:85px;max-width:1500px;margin-left:auto;margin-right:auto;position:relative;}.css-19cq443::before,[data-css-19cq443]::before{content:" ";position:absolute;top:0;left:0;bottom:0;right:0;background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xMS41IC0xMC4yMzE3NCAyMyAyMC40NjM0OCI+CiAgPHRpdGxlPlJlYWN0IExvZ288L3RpdGxlPgogIDxjaXJjbGUgY3g9IjAiIGN5PSIwIiByPSIyLjA1IiBmaWxsPSIjZmZmIi8+CiAgPGcgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiPgogICAgPGVsbGlwc2Ugcng9IjExIiByeT0iNC4yIi8+CiAgICA8ZWxsaXBzZSByeD0iMTEiIHJ5PSI0LjIiIHRyYW5zZm9ybT0icm90YXRlKDYwKSIvPgogICAgPGVsbGlwc2Ugcng9IjExIiByeT0iNC4yIiB0cmFuc2Zvcm09InJvdGF0ZSgxMjApIi8+CiAgPC9nPgo8L3N2Zz4K);background-repeat:no-repeat;background-position:100% 100px;background-size:50% auto;opacity:0.05;}}.css-17t02fm,[data-css-17t02fm]{background-color:#282c34;color:#ffffff;}.css-1koa5j.css-1koa5j,[data-css-1koa5j][data-css-1koa5j]{margin-bottom:20px;color:#6d6d6d;padding-top:0;font-weight:300;font-size:20px;}@media (min-width: 1280px){.css-1koa5j.css-1koa5j,[data-css-1koa5j][data-css-1koa5j]{font-size:24px;font-weight:200;}}.css-1vcfx3l,[data-css-1vcfx3l]{display:-webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;flex-direction:column;flex:0 1 33%;margin-left:40px;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-webkit-flex:0 1 33%;}.css-1vcfx3l:first-of-type,[data-css-1vcfx3l]:first-of-type{margin-left:0;}@media (max-width: 779px){.css-1vcfx3l,[data-css-1vcfx3l]{display:inline-block;vertical-align:top;margin-left:0;white-space:normal;width:75%;margin-right:20px;padding-bottom:40px;}.css-1vcfx3l:first-of-type,[data-css-1vcfx3l]:first-of-type{margin-left:10px;margin-top:0;}}.css-5uoymd,[data-css-5uoymd]{display:-webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;flex-direction:row;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;}@media (max-width: 779px){.css-5uoymd,[data-css-5uoymd]{display:block;white-space:nowrap;}}.css-18jayfr,[data-css-18jayfr]{margin-top:20px;margin-bottom:15px;}@media (min-width: 780px){.css-18jayfr,[data-css-18jayfr]{margin-top:60px;margin-bottom:65px;}}@media (max-width: 779px){.css-18jayfr,[data-css-18jayfr]{margin-top:0;margin-bottom:0;overflow-x:auto;padding-top:30px;-webkit-overflow-scrolling:touch;position:relative;mask-image:-webkit-linear-gradient(to right, transparent, white 10px, white 90%, transparent); mask-image: -moz-linear-gradient(to right, transparent, white 10px, white 90%, transparent); mask-image: linear-gradient(to right, transparent, white 10px, white 90%, transparent);-webkit-mask-image:-webkit-linear-gradient(to right, transparent, white 10px, white 90%, transparent); -webkit-mask-image: -moz-linear-gradient(to right, transparent, white 10px, white 90%, transparent); -webkit-mask-image: linear-gradient(to right, transparent, white 10px, white 90%, transparent);}}.css-gw4hsb,[data-css-gw4hsb]{height:1px;margin-bottom:-1px;border:none;border-bottom:1 solid #ececec;}.css-17jiu04.css-17jiu04,[data-css-17jiu04][data-css-17jiu04]{margin-bottom:20px;}.css-taf57p,[data-css-taf57p]{margin-top:40px;}.css-taf57p:first-child,[data-css-taf57p]:first-child{margin-top:0;}@media (min-width: 1280px){.css-taf57p,[data-css-taf57p]{margin-top:80px;}}.css-11zf7qr,[data-css-11zf7qr]{margin-top:20px;margin-bottom:15px;}@media (min-width: 780px){.css-11zf7qr,[data-css-11zf7qr]{margin-top:60px;margin-bottom:65px;}}.css-1r20cmr,[data-css-1r20cmr]{background:#282c34;color:#ffffff;padding-top:45px;padding-bottom:45px;}.css-63oe3q,[data-css-63oe3q]{width:100%;}.css-1ve3nxt,[data-css-1ve3nxt]{display:-webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;flex-direction:row;flex-grow:0;flex-shrink:1;flex-basis:auto;justify-content:flex-start;align-items:center;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-webkit-flex-grow:0;-webkit-flex-shrink:1;-webkit-flex-basis:auto;-webkit-box-pack:start;-webkit-justify-content:flex-start;-webkit-box-align:center;-webkit-align-items:center;}.css-px8qel,[data-css-px8qel]{width:50%;}.css-px8qel:first-child,[data-css-px8qel]:first-child{text-align:right;padding-right:15px;}@media (min-width: 600px) and (max-width: 1279px){.css-px8qel,[data-css-px8qel]{padding-left:20px;}}@media (min-width: 1280px){.css-px8qel,[data-css-px8qel]{padding-left:40px;}}@media (min-width: 600px){.css-px8qel:nth-child(2),[data-css-px8qel]:nth-child(2){padding-left:15px;}}.css-1053yfl,[data-css-1053yfl]{display:inline-block;font-size:16px;background-color:#61dafb;color:#000000;padding:10px 25px;white-space:nowrap;transition:background-color 0.2s ease-out;-webkit-transition:background-color 0.2s ease-out;-moz-transition:background-color 0.2s ease-out;}.css-1053yfl:hover,[data-css-1053yfl]:hover{background-color:#ffffff;}@media (min-width: 1280px){.css-1053yfl,[data-css-1053yfl]{font-size:20px;padding-top:15px;padding-bottom:15px;}}.css-13foh4g,[data-css-13foh4g]{display:inline-block;font-size:16px;color:#61dafb;transition:color 0.2s ease-out;-webkit-transition:color 0.2s ease-out;-moz-transition:color 0.2s ease-out;}.css-13foh4g:hover,[data-css-13foh4g]:hover{color:#ffffff;}@media (min-width: 1280px){.css-13foh4g,[data-css-13foh4g]{font-size:20px;}}.css-b7q1rs,[data-css-b7q1rs]{margin-left:10px;}</style><script id="glamor-ids">
            // <![CDATA[
            window._glamor = ["1mkpxtv","1tsrj14","1jld97y","1b1t4gw","14f2gh7","1u4y56u","1h2fzrm","syyzfr","ki8d3w","o0vamj","1j3hxv8","zsednb","2x6ipt","nf6sef","6kb8y3","1ogfv32","h7y4wy","kgt1pa","16to0wc","9cb5ay","lhlvbt","f5j1cd","1lk3hfe","8jdw55","17ufatm","u4j1fe","1jmm0qs","vztle4","1spusys","p9r9zw","k99y95","tqmsxa","514nx3","bmkla1","1i9sgxs","1ilizh3","kirud9","tt2yeq","h5g5l5","18vkdd6","1f9aa52","w0wzhx","kcwrr","1dvmgyu","2oh51h","1hke9lz","1gqfy9o","und790","164veih","q1fzsk","wzwv41","8r5hw5","dumj1p","j1ud8o","npkq0u","htcfem","eznxm9","1cpgitm","1lzdxot","g5mtsg","1w8g2ov","pbmvx7","rabpw6","1tj07cs","19ekajh","1rho0fa","1tv5sxm","190hivd","184keb2","4ivotw","17o7gw8","1v42y44","14nlkyt","dkzafi","iiezwn","mlkfzr","tctv7l","hobwqm","1wo8d34","3n5uzf","19vhmgv","15lkjjo","1q9mcvr","1izr7si","1yy5aal","1tq073i","17njq4x","smm72f","1m3wp4q","12bsqfj","109jn6d","8l81zy","83uoqv","1b9qwuc","159p4b7","1s44ra","19bbi3m","13azwyo","19cq443","17t02fm","1koa5j","1vcfx3l","5uoymd","18jayfr","gw4hsb","17jiu04","taf57p","11zf7qr","1r20cmr","63oe3q","1ve3nxt","px8qel","1053yfl","13foh4g","b7q1rs"]
            // ]]>
            </script><style type="text/css">
        .anchor {
          float: left;
          padding-right: 4px;
          margin-left: -20px;
        }
        h1 .anchor svg,
        h2 .anchor svg,
        h3 .anchor svg,
        h4 .anchor svg,
        h5 .anchor svg,
        h6 .anchor svg {
          visibility: hidden;
        }
        h1:hover .anchor svg,
        h2:hover .anchor svg,
        h3:hover .anchor svg,
        h4:hover .anchor svg,
        h5:hover .anchor svg,
        h6:hover .anchor svg {
          visibility: visible;
        }

        @media (min-width: 780px){
        .css-1v0wx4j, [data-css-1v0wx4j] {
            display: flex;
            -webkit-box-align: stretch;
            align-items: stretch;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            flex-direction: row;
            flex: 0 0 67%;
            width:99%;
            margin: 20px auto;
        }
        .css-rlak57, [data-css-rlak57] {
            overflow: hidden;
            border-radius: 10px 0px 0px 10px;
            flex: 0 0 50%;
        }
        .css-xj6x4o, [data-css-xj6x4o] {
            color: rgb(255, 255, 255);
            padding: 0px 10px;
            background: rgb(32, 35, 42);
        }
        .css-109jn6d, [data-css-109jn6d] {
            color: #999;
            font-size: 14px;
            font-weight: 700;
            line-height: 3;
            text-transform: uppercase;
            letter-spacing: 0.08em;
        }
        .css-1bx1f1e, [data-css-1bx1f1e] {
            overflow: hidden;
            border-width: 1px;
            border-style: solid;
            border-color: rgb(236, 236, 236);
            border-image: initial;
            border-radius: 0px 10px 10px 0px;
            flex: 0 0 50%;
        }

        .css-ljjjy7, [data-css-ljjjy7] {
            background-color: rgb(236, 236, 236);
            padding: 0px 10px;
        }
        .css-l12faq, [data-css-l12faq] {

            padding: 10px;
            overflow: auto;
        }

        .css-1mfng2l{
            font-size: 14px;
            font-weight: 700;
            line-height: 3;
            text-transform: uppercase;
            letter-spacing: 0.08em;
        }
     }
     :not(pre) > code[class*="language-"], pre[class*="language-"]{
         background: inherit;
     }
     .right-box{
      border-radius: 0px 10px 10px 0px;
     }
     .bscode{
      width: 100%;
      height: 100%;
      background: transparent;
      border: 0;
      margin: 0;
      padding: 15px;
      box-sizing: border-box;
      outline: none;
      min-height:600px;
      border-right:4px solid rgb(32, 35, 42);
      color: #ccc;
      background: none;
      font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
      text-align: left;
      
      word-spacing: normal;
      word-break: normal;
      word-wrap: normal;
      line-height: 1.5;
      -moz-tab-size: 4;
      -o-tab-size: 4;
      tab-size: 4;
      -webkit-hyphens: none;
      -moz-hyphens: none;
      -ms-hyphens: none;
      hyphens: none;
     }
     .author{
    font-size: 15px;
    padding: 20px;
    text-align: center;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    text-shadow: 2px 2px 3px rgba(120,0,20,.9);
    font-style: italic;
    padding: 1em;
    color: #700;
    width: 200px;
    color: rgba(120,0,20,.9);
    margin: 0 auto;
    }
    .author a, .author a:active, .author a:hover, .author a:visited{
        text-decoration:none;
        color:rgba(120,0,20,.9);
    }
    .author .heart{
        color: #e25555;
         text-shadow: 2px 2px 3px #e25555;
        font-size:30px;
    }
      </style>


<div class="css-1v0wx4j">
    <div class="css-rlak57">
        <div class="css-xj6x4o">
            <div class="css-109jn6d">Bootstrap HTML
                
            </div>
        </div>
        <div class="gatsby-highlight css-t5ws0a">
            <textarea id="input-code" class="bscode" spellcheck="true">
<div class="container">
  <div class="row">
    <div class="col-md-offset-5 col-md-3">
        <div class="form-login">
          <h4>Welcome back.</h4>
            <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="username" />
          </br>
            <input type="text" id="userPassword" class="form-control input-sm chat-input" placeholder="password" />
          </br>
            <div class="wrapper">
              <span class="group-btn">     
                  <a href="#" class="btn btn-primary btn-md">login <i class="fa fa-sign-in"></i></a>
              </span>
            </div>
        </div>
    
    </div>
  </div>
</div>
            </textarea>
        </div>
    </div>
    <div class="css-rlak57  right-box">
    <div class="css-xj6x4o">
        <div class="css-109jn6d">Converted Tailwind HTML
            
        </div>
    </div>
    <div class="gatsby-highlight css-t5ws0a" style="min-height:604px">
        <pre class="prism-code language-markup" spellcheck="false">
              <code id="output-code" class="language-markup" ></code>  
        </pre> 
    </div>
</div>
</div>
<div class="author"><a href="https://riazxrazor.in/">Made with <span class="heart">♥</span> by Riaz Laskar</a>
  <div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
<script src="js/prism.js"></script>
<script>
    (function() {
    var code = document.getElementById("output-code");

    $("#input-code").on('input',function(){
      $.post('tailwindo',{
        html : $(this).val()
      })
      .then(function(res){
        code.textContent = res;
        Prism.highlightElement(code);
      })
      

    }).trigger('input');
    })();
    
    </script>
    
</body>
</html>