<% include partials/header %>
<!-- banner text -->
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <div class="banner-text text-center">
        <h1>Hey, I’m Riaz</h1>
        <p>Looking for a strategist and experienced web application developer,<br>
          to grow your business. I am the man.</p>
        <!-- banner text --> 
      </div>
    </div>
  </div>
</section>
<!-- header section --> 
<div class="container">
    <div class="col-md-8 col-md-offset-2 text-center">
      <h3>My Skills</h3>
      <p></p>
  </div>
<section id="my-skills" class="works section no-padding"></section>

<!-- description text section -->
<section id="descripton" class="section descripton">
  <div class="container">
    <div class="col-md-10 col-md-offset-1 text-center">
      <p>Take your business to the next level with the web technologies of your own, i have worked on several web application project and technologies, i'm the go to guy to take your business online and reach far and 
	  wide with web technologies that have never been possible before. so, hop on the road to succsess.</p>
    </div>
  </div>
</section>
<!-- description text section --> 
<!-- portfolio section -->
<section id="works" class="works section no-padding">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="images/work-1.png" class="work-box"> <img src="images/work-1.png" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <h5></h5>
            <p></p>
          </div>
        </div>
        <!-- overlay --> 
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="images/work-2.jpg" class="work-box"> <img src="images/work-2.jpg" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <h5></h5>
            <p></p>
          </div>
        </div>
        <!-- overlay --> 
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="images/work-3.jpg" class="work-box"> <img src="images/work-3.jpg" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <h5></h5>
            <p></p>
          </div>
        </div>
        <!-- overlay --> 
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="images/work-4.jpg" class="work-box"> <img src="images/work-4.jpg" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <h5></h5>
            <p></p>
          </div>
        </div>
        <!-- overlay --> 
        </a> </div>

        <div class="overlay">
          <div class="overlay-caption">
            <h5></h5>
            <p></p>
          </div>
        </div>
        <!-- overlay --> 
        </a> </div>
    </div>
  </div>
</section>
<!-- portfolio section --> 
<!-- hire me section -->

<% include partials/hireme %>
<% include partials/footer %>