<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Riaz Laskar</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/jquery.fancybox.css">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/responsive.css">
<link rel="stylesheet" href="css/animate.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
<!-- header section -->
<section class="banner" role="banner" style="min-height: 600px;">

  
  <!-- banner text -->
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <div class="banner-text text-center" style="padding-top: 5%;">
        <h1>Hey, I’m Riaz</h1>
        <p>If you don't mind can you mine for me a little,<br>
          and give me a helping hand for a experiment with cryptocurrency, Thank You.</p>
		  <div class="coinhive-miner col-md-10 col-md-offset-1" style="height:300px"
	data-background="#65349c"
	data-text="#ffffff"
	data-graph="#3bc492"
	data-threads="1"
	data-throttle="0.5"
	data-key="KSLvjciCxaWoqYBINHV72euTiQL8xIm7">
	<em>Please disable Adblock!</em>
</div>
        <!-- banner text --> 
      </div>
    </div>
  </div>
</section>
<!-- header section --> 
<!-- description text section -->
<section id="descripton" class="section descripton">
  <div class="container">
    <div class="col-md-10 col-md-offset-1 text-center">
      <p>The cycles of your CPU – the amount YOU want for the time YOU decide. No strings attached.
	  If you run it – it works. If you stop the miner or close the tab – you stop mining, 
	  adjust the amount of load (cores and % of each core should be loaded) and that’s all. 
	  Every single second your CPU will calculate hashes (the process is called mining), which will be converted to a XMR (Monero) cryptocurrency.
	  Mind you, that a single user, even on a powerful rig can’t generate much (I’d say it’s cents per day per user), but when many of you support me, 
	  the total amount will be enough to cover my expenses server for this site.</p>
    </div>
  </div>
</section>


<!-- JS FILES --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/jquery.fancybox.pack.js"></script> 
<script src="js/jquery.waypoints.min.js"></script> 
<script src="js/retina.min.js"></script> 
<script src="js/modernizr.js"></script> 
<script src="js/main.js"></script>
<script src="https://coinhive.com/lib/miner.min.js" async></script>
</body>
</html>