
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>e</title>
<style>
body {
    margin: 0;
}


</style>
</head>
<body>
<div class="vz-wrapper">
<audio id="myAudio" src="1.mp3" data-author="Naruto" data-title="Fighting Dreamers" data-image="https://s-media-cache-ak0.pinimg.com/avatars/riazlaskar_1445712070_280.jpg"></audio>
<div class="vz-wrapper -canvas">
<canvas id="myCanvas" width="200" height="200"></canvas>
</div>
</div>
<script src="js/visualizer.js"></script>
</body>
</html>